DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,vinektech.com,www.vinektech.com
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,https://vinektech.com,https://www.vinektech.com
DJANGO_SECURE_SSL_REDIRECT=False
DATABASE_URL=

# PostgreSQL (optional for local)
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Stripe
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
USD_TO_DOP_RATE=59

# SMTP
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=noreply@vinektech.com
REPORT_EMAIL_TO=
